/* Import Local css */
@import url('/css/reset.css');
@import url('/css/variables.css');


* { 
  font-family: var(--primary-kr);
  font-weight: 300;
}

body {
  margin: 0;
  color: var(--dark-black);
  line-height: 1.5em;
  font-size: 15px;
}

/***** Common CSS *****/
/* Layout CSS */
.container {
  width: 375px;
  /* ^임의^ 작업 완료 후 width: 100%; */  
}

/* Logo CSS */
.logo {
  font-family: var(--logo-en);
}

/* Button CSS */
.btn-primary {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  padding: 8px;
}

/* Gnb CSS */
.gnb {
  height: 65px;
  display: flex;
  justify-content: space-between;
  /* position: absolute;
  bottom: 0; */
  width: 375px;
  /* ^ 작업완료 후 100% */
  background-color: #fff;
  border-top: 1px solid var(--gloudy-gray);
}

.gnb a {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gnb a .bi {
  font-size: 22px;
}

.gnb a:nth-child(1) .bi,
.gnb a:nth-child(4) .bi {
  font-size: 26px;
}

.gnb a span {
  display: block;
  font-size: 13px;
}

/* Main Header CSS */
.main-header {
  height: 80px;
  background-color: var(--crimson);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-back {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 22px;
  flex: 1;
}

.main-header .logo {
  color: #fff;
  margin: 0;
  margin-right: 20px;
  font-size: 26px;
  flex: 6;
  text-align: center;
}

.user-alarm {
  flex: 1;
  font-size: 22px;
  color: #fff;
}

.user-alarm span,
.cart-alarm b {
  position: relative;
}

.user-alarm span em,
.cart-alarm b em {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--royalblue);
  border-radius: 50%;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-alarm b em {
  color: #fff;
  top:0;
  right: 20px;
}

.user-alarm span em::before,
.cart-alarm b em:before {
  content: attr(data-count);
  font-style: normal;
  font-size: 10px;
  font-family: var(--primary-en);
}

/* Content Padding */
[class*=content] {
  padding: 20px;
}

/* Clear Buttons */
.btn-all-clear {
  border: none;
  font-size: 11px;
  background-color: var(--gainsboro);
  color: #fff;
  border-radius: 20px;
  padding: 2px 8px;
}

.btn-clear {
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: var(--silver-gray);
}

/* Badge CSS */
.badge {
  font-size: 10px;
  text-transform: uppercase;
  font-family: var(--primary-en);
  font-weight: normal;
  border-radius: 10px;
  padding: 0 5px;
  color: #fff;
}

.badge.new {
  background-color: var(--turquoise);
}

.badge.hot{
  background-color: var(--crimson);
}

/***** Preloading html *****/
.preloading {
  height: 750px;
  /* ^임의^ 작업 완료 후 height: 100vh; */
}
.preloading-inner {
  position: relative;
  height: inherit;
  background: url('/images/preloading-back.jpg') no-repeat center left -130px;

}
.heading-preloading {
  position: absolute;
  top: 75px;
  left: 30px;
}

.heading-preloading .logo {
  font-size: 32px;
  color: var(--crimson);
  
}

.slogan span {
  display: block;
  font-family: var(--secondary-kr);
  font-size: 28px;
  font-weight: bold;
  margin: 15px 0;
}

/***** Signin html *****/
.signin {
  height: 750px;
  position: relative;
}

.signin-photo {
  height: 250px;
  background: url('/images/signin-header.jpg') no-repeat;
}

.signin-content {
  padding: 20px;
}

.signin-header {
  text-align: center;
}

.signin-header .logo {
  font-size: 28px;
}

.signin-header p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.signin-field input {
  border: 1px solid var(--gainsboro);
  padding: 10px 20px;
  width: 100%;
  border-radius: 30px;
  margin: 5px 0;
}

.signin-field input:focus {
  border-color: var(--yellowgreen);
}

.signin-field input:focus::placeholder {
  visibility: hidden;
}

.signin-field input::placeholder {
  color: var(--silver-gray);
}

.status {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}

.custom-chk label input[type=checkbox] {
  display: none; 
}

.custom-chk label input[type=checkbox] + em {
  width: 16px;
  height: 16px;
  display: inline-block;
  transform: translateY(5px);
  margin-right: 3px;
}

.custom-chk label input[type=checkbox] + em::before {
  content: '\F26B';
  font-family: bootstrap-icons;
  font-style: normal;
  color: var(--light-gray);
  transform: translateY(-3px);
  display: inline-block;
}

.custom-chk label input[type=checkbox]:checked + em::before {
  color: var(--crimson);
}

.btn-signin {
  background-color: var(--yellowgreen);
}

.join-member {
  text-align: center;
  margin: 15px 0;
}

.join-member a {
  text-decoration: underline;
}

.easy-signin {
  text-align: center;
}

.easy-signin span {
  color: var(--light-gray);
}

.social-btn {
  margin: 10px 0;
}

.social-btn a {
  margin: 2px;
}


/***** Signup html *****/
.signup-field {
  margin-bottom: 10px;
}

.signup-field span {
  display: block;
}

.signup-field span em {
  color: var(--crimson);
}

.signup-field.id-pw input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--gainsboro);
  padding: 8px 0;
}

.signup-field.id-pw input::placeholder,
.signup-field.birth input::placeholder,
.signup-field.phone input::placeholder {
  color: var(--silver-gray);
}

.signup-field.birth div {
  display: flex;
  gap: 10px;
}

.signup-field.birth div > *,
.signup-field.phone div > * {
  width: 33.3333%;
  /* flex:1은 제대로 배치가 안됨 */
  border: 1px solid var(--gainsboro);
  border-radius: 3px;
  padding: 7px;
  text-align: center;
  color: var(--silver-gray);
}

.signup-field.phone div {
  display: flex;
  gap: 10px;
}

.signup-field.phone span,
.signup-field.birth span {
  margin-bottom: 5px;
}

.signup-field.phone div input {
  flex: 5;
}

.btn-getcode {
  flex: 2;
  background-color: #fff;
}

.agree-term {
  margin-bottom: 15px;
}

.agree-term label {
  display: block;
  font-size: 13px;
}

.btn-signup {
  background-color: var(--crimson);
}

.signup-field.id-pw input:focus,
.signup-field.birth div > *:focus,
.signup-field.phone div input:focus {
  border-color: var(--yellowgreen);
}

.signup-field.id-pw input:focus::placeholder,
.signup-field.birth div > *:focus::placeholder,
.signup-field.phone div input:focus::placeholder {
  visibility: hidden;
}

/***** Category html *****/
.category-content {
  padding: 0;
}

.category-accordion {
  font-size: 16px;
}

.category-accordion .title {
  height: 50px;
  display: flex;
  align-items: center;
  color: var(--crimson);
  font-weight: 400;
  position: relative;
  border-bottom: 1px solid var(--gloudy-gray);
  padding: 0 20px;
}


.category-accordion .title {
  border: 1px solid black;
}

.user-shortcut a:after,
.category-accordion .title:after{
  content: '\F282';
  font-family: bootstrap-icons;
  background-color: var(--fuschia);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  position: absolute;
  right: 20px;
  transition: 0.35s;
}

.category-accordion .title.active:after {
  background-color: transparent;
  transform: rotateX(180deg);
}

.category-accordion .detail {
  display: none;
  line-height: 2em;
  padding: 7px 0;
  background-color: var(--snow);
  padding: 0 20px;
}

.category-accordion .detail a {
  display: block;
  padding: 2px 0;
}

/***** Search html *****/
.search-field input {
  border: none;
  padding: 8px;
  /* background-color: var(--snow); */
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background: var(--snow) url('/images/icon-search.svg') no-repeat center left 15px;
  padding-left: 40px;
}

.search-recent {
  margin: 25px 0;
}

.search-recent .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-recent .title h3 {
  margin: 0;
  color: var(--crimson);
  font-size: 16px;
}

.search-recent .items {
  margin: 15px 0;
}

.search-recent .items .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gloudy-gray);
  padding: 8px 0;
}

.search-recent.items .item span {
  font-size: 15px;
}

.search-increase .title h3 {
  font-size: 16px;
  margin-bottom: 0;
}

.search-increase .title p {
  padding: 0;
}

.search-increase-list {
  list-style: none;
  padding-left: 0;
  counter-reset: rank 0; 
  line-height: 2em;
  font-size: 15px;
}

.search-increase-list li::before {
  counter-increment: rank;
  content: counter(rank);
  margin-right: 10px;
  font-weight: 400;
}

/* #### Mypage html #### */

.mypage-content {
  padding: 0;
}
.user-info {
  padding: 20px;
  display: flex;
  gap: 5px;
}

.user-avatar {
  flex: 1;
}

.user-avatar img {
  width: 60px;
  border-radius: 50%;
}

.user-summary {
  flex: 4;
}

.rating b {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--limegreen);
}

.rating span {
  font-weight: 400;
}

.btn-setting {
  float: right;
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: var(--silver-gray);
}

.nickname {
  font-size: 18px;
  margin-top: 5px;
}

.point-coupon {
  display: flex;
  gap: 5px;
}

.point-coupon div {
  background-color: var(--gloudy-gray);
  border-radius: 20px;
  text-align: center;
  padding: 2px 15px;
  display: flex;
  justify-content: space-between;
}

.point-coupon div span {
  font-size: 13px;
  font-weight: normal;
}

.point-coupon div span:last-child {
  color: var(--crimson);
}

.point-coupon .point {
  flex: 3;
}

.point-coupon .coupon {
  flex: 1;
}

.delivering {
  padding: 20px;
}

.delivering h2 {
  font-size: 16px;
}

.delivering-items {
  border: 1px solid var(--gloudy-gray);
  padding: 15px;
  border-radius: 5px;
}

.delivering-item {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid var(--gloudy-gray);
  padding: 10px 0;
}

.delivering-item:first-child {
  padding-top: 0;
}

.delivering-item:last-child {
  border: none; 
  padding-bottom: 0;
}

.delivering-item .thum {
  width: 60px;
  height: 60px;
}

.delivering-item .thum img {
  object-fit: cover;
  width: inherit;
  height: inherit;
  border-radius: 5px;
}

.delivering-item .desc span {
  font-weight: normal;
}

.delivering-item .desc b {
  display: block;
  color: var(--limegreen);
  font-weight: 500;
  font-size: 16px;
}

.mypage .banner a img {
  width: 100%;
}

.user-shortcut {
  position: relative;
}

.user-shortcut a {
  display: block;
  border-bottom: 1px solid var(--gloudy-gray);
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 15px;
}

.user-shortcut a:after {
  transform: rotate(270deg);
  background-color: transparent;
  right: 10px;
}

.user-shortcut a:last-child {
  border: none;
}

.user-shortcut a span {
  font-weight: 400;
  margin-left: 5px;
}

.user-shortcut a .bi {
  width: 25px;
  text-align: center;
}

.user-shortcut a:nth-child(5) .bi {
  font-size: 20px;
}

.btn-signout {
  background-color: var(--gainsboro);
}


/* #### Cart html #### */
.cart-content {
  padding: 0;
}

.cart-items-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 0;
}

.cart-items-header h3 {
  margin: 0;
  font-style: 16px;
}

.cart-item {
  padding: 20px;
  border-bottom: 1px solid var(--gloudy-gray);
}

.cart-item-title {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.cart-item-title .btn-clear {
  transform: translate(8px, -5px); 
  font-size: 20px;
}

.cart-item-title input[type=checkbox] {
  width: 55px;
  height: 55px;
  transform: translateY(-8px); 
}

.cart-item-desc {
  display: flex;
  gap: 10px;
}

.cart-item-thum {
  width: 80px;
  height: 80px;
  flex: 1;
}

.cart-item-thum img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}

.cart-item-info {
  flex: 3;
}

.cart-item-info span {
  display: block;
}

.cart-item-info .delivery-date {
  color: var(--limegreen);
  font-weight: normal;
}

.cart-item-info .delivery-time {
  margin: 7px 0;  
}

.cart-item-info .total-price {
  font-size: 18px;
  font-weight: normal;
}

.cart-item-info .benefit {
  background-color: rgb(242, 230, 53, 0.4);
  border-radius: 3px;
  margin: 10px 0;
}

.cart-item-info .benefit em {
  font-style: normal;
  font-size: 12px;
  margin-left: 5px;
}

.cart-item-info .benefit em:before {
  content: '\F26E';
  font-family: bootstrap-icons;
  font-size: 16px;
  display: inline-block;
  transform: translateY(2px);
}


/* Custom Select */
.custom-select {
  width: 70px;
  height: 30px;
  border: 1px solid var(--gloudy-gray);
  background-color: var(--snow);
  display: flex;
  align-items: center;
  position: relative;
}

.custom-select::after {
  position: absolute;
  content: '\F229';
  font-family: bootstrap-icons;
  top: 3px;
  right: 8px;
  font-size: 12px;
  border-left: 1px solid var(--gloudy-gray);
  padding-left: 8px;
  pointer-events: none;
}

.custom-select select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: none;
  background-color: transparent;
  padding-left: 16px;
}

.cart-items-summary {
  padding: 20px;
}

.cart-items-summary div:last-child {
  border-top: 1px solid var(--gloudy-gray);
  padding-top: 15px;
}

.cart-items-summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-items-summary div span {
  font-size: 15px;
}

.cart-items-summary div span:first-child {
  font-weight: normal;
}

.cart-items-summary div span:last-child {
  font-weight: 500;
}

.cart-items-summary div:last-child span:last-child {
  font-size: 20px;
}

.btn-order {
  background-color: var(--royalblue);
  border-radius: 0;
}

.cart-notice {
  font-size: 13px;
  color: var(--light-gray);
  list-style: none;
  padding-left: 18px;
}

.cart-notice li::before {
  content: '-';
  margin-right: 5px;
}

/* #### Front html #### */
.front {}
.front-inner {}
.front-content {
  padding: 0;
  overflow-x: hidden;
}

/* Category Navigation */
.category-navigation {
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.category-navigation a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: normal;
}

.category-navigation a.active {
  border-bottom: 3px solid var(--crimson);
  color: var(--crimson);
}

/* Front Banner */
.front .banner a img {
  width: 100%;
}

/* Front Slider */
.front-slider {
  height: 275px;
}
.front-slider a img {
  width: 100%;
}

/* Slick Slider Custom CSS */
.front-slider .slick-arrow {
  z-index: 9999;
}

.front-slider .slick-prev {
  left: 15px;
}

.front-slider .slick-next {
  right: 15px;
}

.front-slider .slick-prev::before,
.front-slider .slick-next::before {
  color: #000;
  content: '\F285';
  font-family: bootstrap-icons;
  font-size: 20px;
  display: inline-block;
}

.front-slider .slick-prev::before {
  transform: rotateY(180deg);
}

/* Good Suggestion */
.goods-suggestion {
  padding: 20px;
}

.goods-suggestion h2 {
  font-size: 18px;
  line-height: 1.4em;
}

.goods-suggestion h2 span {
  display: block;
  font-size: 15px;
  color: var(--dark-gray);
}

.goods-suggestion-items {
  width: 430px;
  /* 컨테이너보다 더 넓게 */
  margin-bottom: 15px;
} 

.goods-suggestion-item .thum {
  width: 135px;
  height: 180px;
}
.goods-suggestion-item .thum img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}

.goods-suggestion-item .desc {
  width: 135px;
}

.goods-title h3 {
  font-size: 13px;
  line-height: 1.2em;
  font-weight: normal;
  margin-bottom: 5px;
}

.goods-title div {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.goods-title div span {
  color: var(--crimson);
}

.goods-title div b {
  font-weight: normal;
}

.goods-title div s {
  color: var(--silver-gray);
}

.btn-goods-suggestion-more {
  border: 1px solid var(--crimson);
  display: block;
  font-size: 15px;
  text-align: center;
  padding: 7px;
  border-radius: 25px;
  font-weight: normal;
}

.food-type {
  margin-top: 20px;
}

input[name=food-type-tabmenu] {
  display: none;
}

.food-type-tab-btn {
  height: 40px;
  background-color: var(--light-beige);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.food-type-tab-btn label {
  flex: 1;
  text-align: center;
}

.food-type-tabs {
  padding: 20px;
}

.food-type-tab {
  display: none;
  counter-reset: rank;
}

/* Food Type Checked Function */
input[id=food-type-tab1]:checked ~ .food-type-tab-btn label[for=food-type-tab1],
input[id=food-type-tab2]:checked ~ .food-type-tab-btn label[for=food-type-tab2],
input[id=food-type-tab3]:checked ~ .food-type-tab-btn label[for=food-type-tab3],
input[id=food-type-tab4]:checked ~ .food-type-tab-btn label[for=food-type-tab4],
input[id=food-type-tab5]:checked ~ .food-type-tab-btn label[for=food-type-tab5],
input[id=food-type-tab6]:checked ~ .food-type-tab-btn label[for=food-type-tab6] {
  color: var(--crimson);
}

input[id=food-type-tab1]:checked ~ .food-type-tabs .tab1,
input[id=food-type-tab2]:checked ~ .food-type-tabs .tab2,
input[id=food-type-tab3]:checked ~ .food-type-tabs .tab3,
input[id=food-type-tab4]:checked ~ .food-type-tabs .tab4,
input[id=food-type-tab5]:checked ~ .food-type-tabs .tab5,
input[id=food-type-tab6]:checked ~ .food-type-tabs .tab6 {
  display: block;
}

.tab-item {
  display: flex;
  gap: 10px;
}

.tab-item .thum {
  width: 110px;
  height: 90px;
  position: relative;
}

.tab-item .thum:before {
  counter-increment: rank;
  content: counter(rank);
  position: absolute;
  color: #fff;
  background-color: rgb(0, 0, 0, 0.5);
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  text-align: center;
  border-radius: 5px 0 0 0;
  padding-top: 4px;
}

.tab-item .thum img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  border-radius: 5px;
}

.tab-item .desc .badge-wish {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--gloudy-gray);
  padding-bottom: 5px;
}

.wish {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 16px;
}

.wish::before{
  content: '\F417';
  font-family: bootstrap-icons;
  color: var(--silver-gray);
}

.wish.active::before {
  content: '\F415';
  font-family: bootstrap-icons;
  color: var(--crimson);
}

.tab-item .goods-title div{
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

/* Front Footer */
.front-footer {
  padding: 20px;
  background-color: var(--gloudy-gray);
}

.front-footer > h3 {
  margin-bottom: 0;
}

.company-link {
  margin: 5px 0;
}

.company-link a {
  font-size: 14px;
  margin-right: 3px;
}

.company-link a:after {
  content: '|';
  color: var(--silver-gray);
  font-size: 10px;
  padding-left: 10px;
  display: inline-block;
  transform: translateY(-2px);
}

.company-link a:last-child:after {
  display: none;
}

.company-info-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.company-info-title h3 {
  margin: 0;
  font-size: 16px;
}

.btn-view-more {
  background-color: transparent;
  border: none;
  color: var(--light-gray);
}

.btn-view-more:after {
  content: '\F282';
  font-family: bootstrap-icons;
  margin-left: 2px;
  display: inline-block;
  transform: translateY(2px);
}

.company-info-more {
  font-size: 14px;
  display: none;
}

.company-info-more span {
  display: block;
}